  .body {
    margin: 0;
    padding: 0 100px;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #0a0a0a;
  }
  .container {
    margin: 0 auto;
    padding: 20px;
  }
 .hero {
    background-color: #C6E4D6;
    text-align: left;
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0px;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .details {
    text-align: left;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  
  .cta-btn {
    padding: 15px 30px;
    background-color: #006A50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .vision {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .vision-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .vision-cards img {
    width: 50px;
    height: 50px;
  }
  
  .vision-card1 {
    background-color: #548ff538;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }
  
  .vision-card2 {
    background-color: #C6E4D6;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
  }
  
  .vision-card3 {
    background-color: #F7EBCF;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }
  
  .vision-card1 button {
    background-color: #548ff5;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
  }
  
  .vision-card2 button {
    background-color: #09A15C;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
  }
  
  .vision-card3 button {
    background-color: #FFC239;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
  }

  
  .news-card {
    display: flex;
    background: #fff;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .row-reverse {
    flex-direction: row-reverse;
  }
  
  .mb-5 {
    margin-bottom: 20px;
  }
  
  .news-content {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  .news-content img{
    width: 120px;
  }
  
  .news-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .news-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .news-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .read-more {
    padding: 10px 20px;
    background: #006A50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
  }
  
  .read-more:hover {
    background: #45a049;
  }
  


  .donate-section {
    padding: 0 100px;
    margin: 50px auto;
    text-align: center;
    border-radius: 8px;
    padding: 30px 20px;
  }
  
  .donate-header {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .donate-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .donation-options {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .donation-card {
    flex: 1 1 150px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .active {
    background: #C6E4D6;
  }
  
  .donation-card:hover {
    background: #006A50;
    color: #fff;
    border-color: #006A50;
  }
  
  
  .donate-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px auto 20px;
    border: none;
    border-radius: 8px;
  }
  .donate-input::placeholder{
    text-align: center;
  }
  .donate-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: #006A50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 1px solid transparent ;
    transition: animation-spown 0.5s ease, color 0.5s ease;
  }
  
  .donate-button:hover {
    background: #fff;
    border: 1px solid #006A50 ;
    color: #006A50;
  }  
  